---
layout: blog
pagination:
    data: collections.post
    size: 2
    alias: posts
    reverse: true
---

<section class="mt-15">

    {% for post in posts %}
    <a href="{{ post.url | url }}">
        <article class="my-8 border rounded border-gray-200 hover:border-purple-400">
            
            {% if post.data.featureImage %}
            
                <img class="w-full" src="{{post.data.featureImage}}">
            
            {% endif %}


            <div class="p-5">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Read more →
                </a>
            </p>
            </div>
        
        </article>
    </a>
    {% endfor %}

    {% if pagination.href.previous %} <a href="{{ pagination.href.previous }}" class="text-indigo-500 font-bold text-lg">← Previous</a> {% endif %}
    {% if pagination.href.next %} <a href="{{ pagination.href.next }}" class="text-indigo-500 font-bold text-lg">Next →</a> {% endif %}
</section>
