---
layout: default
title: DISHTHATUP
path: home
---

<div class="container mx-auto px-4 md:px-0 md:py-20 border-b border-gray-200">

  <div class="flex flex-col md:flex-row justify-evenly gap-x-4 md:-ml-4" >

  {% for post in collections.post | reverse %}
    {% if loop.index0 < 3 %}

    <a href="{{ post.url | url }}">
      
  
    <article class="flex-1 my-8 border rounded-lg border-gray-200 hover:border-purple-400 grow-1 shrink-0 overflow-hidden">
            
      {% if post.data.featureImage %}
      
          <img class="w-full aspect-square overflow-hidden" src="{{post.data.featureImage}}">
      
      {% endif %}


      <div class="p-5">
      <h2 class="font-bold text-3xl text-gray-900 mb-2">
          <a href="{{ post.url | url }}">
              {% if post.data.title %}
                  {{ post.data.title }}
              {% else %}
                  Untitled
              {% endif %}
          </a>
      </h2>

      <p>
          <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
              See Recipe →
          </a>
      </p>
  </article>
  
    
    {% endif %}
  </a>
  {% endfor %}

  </div>

  <a href="/recipes" class="text-indigo-500 font-bold text-3xl mb-2 p-6">
    See More Recipies →
  </a>
</div>

<div class="container mx-auto py-20 border-b border-gray-200">
  <h2 class="text-gray-900 font-bold text-5xl mb-2">Meal Delivery In Phnom Penh</h2>
  <h3 class="text-gray-600 font-medium text-2xl">Weekly set menu delivered to you, available in Phnom Penh</h3>
</div>

  

<div class="container mx-auto py-20 border-b border-gray-200">
  <div class="container flex flex-col md:flex-row md:space-x-12">
    <div class="w-full md:w-1/3 flex justify-center">
      <img src="/static/img/goat.jpg" class="w-3/5 rounded-full aspect-square overflow-hidden">
    </div>
    
    <div class="w-full md:w-2/3 mt-10">
      <h2 class="font-bold text-3xl text-gray-900 mb-2">Im A Silly Billy,</h2>
      <p class="prose lg:prose-xl">I make yum things and ride around on a scooter delivering them to ungrateful fools all over town. When not grazing on the finest Cambodian beers (with ice), Im busy whipping up baaa-rilliant dishes that will leave you saying, ‘I didn’t know a goat could cook like that!’</p>
    </div>
  </div>
</div>
