---
layout: default
title: DISHTHATUP
path: home
---

<div class="container mx-auto ml-4 md:px-0 pb-20 border-b border-gray-200 overflow-hidden">

  <h2 class="text-gray-900 font-bold text-3xl pt-10">
    Featured Recipies
  </h2>

  <div class="swiper featuredSwiper">
    <div class="swiper-wrapper">
      {% for post in collections.post | reverse %}
        {% if loop.index0 < 3 %}
        <div class="swiper-slide border rounded-lg border-gray-200 hover:border-purple-400 overflow-hidden my-8">
            <img class="object-cover w-full aspect-square" src="{{post.data.featureImage}}"
                alt="image" />
                <div class="p-5">
                  <h3 class="font-bold text-xl text-gray-900 mb-2">
                      <a href="{{ post.url | url }}">
                          {% if post.data.title %}
                              {{ post.data.title }}
                          {% else %}
                              Untitled
                          {% endif %}
                      </a>
                  </h3>
            
                  <p>
                      <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
                          See Recipe →
                      </a>
                  </p>
                  </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".featuredSwiper", {
        cssMode: true,
        slidesPerView: 1.3,
        breakpoints: {
          768: {
          slidesPerView: 2.3,
        },
          1024: {
          slidesPerView: 3,
        },
      
        },
        spaceBetween: 16,

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
        mousewheel: false,
        keyboard: true,
    });
</script>

  <a href="/recipes" class="text-indigo-500 font-bold text-3xl pb-20">
    See More Recipies →
  </a>
</div>

<div class="container mx-auto px-4 md:px-0 py-20 border-b border-gray-200">
  <h2 class="text-gray-900 font-bold text-5xl mb-2">Meal Delivery In Phnom Penh</h2>
  <h3 class="text-gray-600 font-medium text-2xl">Weekly set menu delivered to you, available in Phnom Penh</h3>
</div>

  

<div class="container mx-auto px-4 md:px-0 py-20 border-b border-gray-200">
  <div class="container flex flex-col md:flex-row md:space-x-12">
    <div class="w-full md:w-1/3 flex justify-center">
      <img src="/static/img/goat.jpg" class="w-3/5 rounded-full aspect-square overflow-hidden">
    </div>
    
    <div class="w-full md:w-2/3 mt-10">
      <h2 class="font-bold text-3xl text-gray-900 mb-2">Im A Silly Billy,</h2>
      <p class="prose lg:prose-xl">I make yum things and ride around on a scooter delivering them to ungrateful fools all over town. When not grazing on the finest Cambodian beers (with ice), Im busy whipping up baaa-rilliant dishes that will leave you saying, ‘I didn’t know a goat could cook like that!’</p>
    </div>
  </div>
</div>
